* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg: #1A1A1A; 
    --gallery-bg: #B2BFC2;
    --footer-bg: #D9D9D9; 
    --light-text: #ffffff;
    --dark-text: #1A1A1A; 
    --accent-color: #d4a770;
    --card-button-bg: #3e3e3e; 
    --logo-font: 'Playfair Display', serif;
    --body-font: 'Inria Serif',serif;
}

body {
    background-color: var(--dark-bg);
    color: var(--light-text);
    font-family: 'Inria Serif',serif;
    margin: 0;
}
/*nav bar*/
.navbar{
    background-color:#2D3433; 
    color: white;
    display: grid; 
    grid-template-columns: 1fr auto 1fr; 
    column-gap:50px;
    align-items: center;
    padding: 10px 40px; 
    font-size: 20px;
}
.logo{
    font-family: 'Inria Serif', serif;
    font-size: 32px;
    font-weight: 500;
    color: white; 
    letter-spacing: 1px;
    grid-column: 2; 
    text-align: center;
}

.nav-links{
    display:flex;
    align-items:center;
    gap: 30px; 
}

.left-links{ 
    grid-column: 1; 
    display:flex;
    justify-content: flex-end; 
    gap:30px;
}
.nav-links a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-family: var(--body-font); 
}
.nav-links a:hover{
    color: #d4a770; 
}
.right-nav-content{
    grid-column: 3; 
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:30px; 
}
.right-links {
    gap: 30px;
}
.nav-icons{
    margin-left: auto; 
    display:flex;
    align-items:center;
    gap: 15px; 
    padding-right: 10px;
}

.nav-icons i{
    font-size: 28px; 
    cursor: pointer;
    color: white;
}
.nav-icons i:hover{
    color: #d4a770;
}
/*for first section*/
.main-content {
    max-width: 800px;
    margin: 48px auto;
    padding: 0 20px;
}
.main-content h1 {
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-bottom: 16px;
}
.main-content p {
    font-size: 16px;
    color: #555;
}
.main-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 80vh; 
}
.hero-section {
    background-color: var(--dark-bg);
    padding: 8vh 100px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-section h2 {
    font-family: 'Inria Serif',serif;
    font-size: 60px; 
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 400px;
    color: var(--light-text);
}
.logo-placeholder {
    width: 120px; 
    height: 120px;
    margin-bottom: 30px;
}
.logo-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.explore-btn {
    background-color: var(--light-text);
    color: var(--dark-bg);
    border: none;
    padding: 12px 40px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 20px;
    height:50px;
    width:200px;
    position:relative;
    left: 5px;
    color:black;
    background-color: white;

}
.explore-btn:hover {
    opacity: 0.9;
    color: #d47089;
}
/*cake gallery and pastry gallery*/
.cake-gallery-grid,
.pastry-gallery-grid {
    background-color: var(--gallery-bg); 
    padding: 10px 10px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px; 
    overflow: hidden;
    height: 800px;
}
.product-card {
    display: flex;
    flex-direction: column;
    text-align: center; 
    font-size: 20px;
    padding: 10px; 
}
.product-card img {
    width: 250px;
    height:150px; 
    object-fit: cover;
    margin-bottom: 10px;
    align-self: center; 
}
.product-card p {
    font-size: 18px;
    line-height: 1.4;
    color: var(--dark-text); 
    margin-bottom: 8px;
    flex-grow: 1; 
    text-align: center;
}
/*order button for all items */
.order-btn {
    background-color: var(--light-text);
    color: var(--dark-bg);
    border: none;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: opacity 0.3s;
    border-radius: 20px;
    height:50px;
    width:200px;
    position:relative;
    left:40px;
    background-color: #1A1A1A;
    color:white;
}
.order-btn:hover {
    opacity: 0.9;
    color: #d8577e;

}
.strawberry-hero-section {
    position: relative;
    overflow: hidden;
}
/*cake picture with text overlay*/
.strawberry-hero-section .overlay-image {
    width: 100%;
    height: 100%;
    opacity: 2; 
}
.white-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; 
    opacity: 0.2; 
    z-index: 1; 
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center; 
    font-size: 45px;
    z-index: 25; 

}
.extra-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 40vh; 
}
/* walnut picture */
.walnut-banner {
    position: relative;
    overflow: hidden;
}
.walnut-banner .walnut-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}
/*bisuits gallery with bisuits items*/
.biscuit-gallery-grid {
    background-color: var(--gallery-bg); 
    padding: 20px 30px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    overflow: hidden;
}

.biscuit-gallery-grid .product-card {
    display: flex;
    flex-direction: column; 
    text-align: left;
    padding: 0;
    align-items: center;
}

.biscuit-gallery-grid .product-card img {
    width: 250px;
    height:150px; 
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-right: 15px;
    margin-bottom: 0;
}

.biscuit-text-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    text-align: center;
}

.biscuit-text-wrapper .biscuit-title {
    font-size: 13px;
    font-weight: bold;
    color: var(--dark-text);
    margin-bottom: 5px;
}

.biscuit-text-wrapper p {
    text-align: center;
    margin-bottom: 8px;
    line-height: 1.3;
    color: var(--dark-text);
    font-size: 18px; 
}
.biscuit-text-wrapper .order-btn {
    align-self: flex-start;
    width: auto;
    padding: 5px 12px;
    font-size: 20px;
    border-radius: 9999px; 
}
/*footer section*/
:root {
    --footer-bg-color-new: #e6eded; 
    --footer-text-color: #303534;
}

.main-footer {
    background-color: var(--footer-bg-color-new); 
    color: var(--footer-text-color);
    padding: 70px 100px; 
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1fr; 
    align-items: flex-start; 
    gap: 40px;
}
.footer-logo-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}

.footer-logo {
    font-family: var(--logo-font); 
    font-size: 50px; 
    font-weight: 400; 
    margin-bottom: 20px;
    line-height: 1;
}

.copyright {
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--footer-text-color);
    margin-top: 50px; 
}
.footer-contact-info {
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 1.6; 
    padding-top: 15px; 
}
.contact-line {
    margin-bottom: 5px; 
}

.footer-contact-info a {
    color: var(--footer-text-color);
    text-decoration: underline; 
}
.footer-contact-info p:first-child {
    text-decoration: underline;
}
.footer-social-icons {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;
    gap: 25px;
    padding-top: 10px;
}
.footer-social-icons a i {
    font-size: 48px; 
    color: var(--footer-text-color);
    transition: color 0.3s;
}

.footer-social-icons a i:hover {
    color: var(--accent-color);
}
/*for mobile */
@media only screen and (max-width: 400px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
    }
    .left-links,
    .right-links {
        display: none;
    }
    .logo {
        font-size: 24px;
        text-align: left;
        margin: 0;
    }
    .main-content-grid {
        display: block; 
        width: 100%;
    }
    .hero-section {
        padding: 30px 15px;
        text-align: center;
    }

    .hero-section h2 {
        font-size: 26px;
        margin: 0 auto;
    }

    .logo-placeholder {
        width: 80px;
        height: 80px;
        margin: 15px auto;
    }

    .explore-btn {
        margin: 15px auto;
        left: 0;
        display: block;
    }

    .cake-gallery-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 20px 10px;
        height: auto;
        overflow: visible;
    }

    .cake-gallery-grid .product-card {
        text-align: center;
        width: 100%;
    }

    .cake-gallery-grid img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
    }

    .cake-gallery-grid .order-btn {
        margin: 12px auto;
        left: 0 ;
        right: 0 ;
        position: static;
    }
    .pastry-gallery-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 20px 10px;
        height: auto;
        overflow: visible;
    }

    .pastry-gallery-grid .product-card {
        text-align: center;
    }

    .pastry-gallery-grid img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
    }

    .pastry-gallery-grid .order-btn {
        margin: 12px auto;
        left: 0;
        right: 0;
        position: static;
    }
    .strawberry-hero-section .overlay-image {
        height: 400px;
        object-fit: cover;
    }

    .overlay-text {
        font-size: 26px;
        max-width: 90%;
        line-height: 1.3;
    }
    .extra-content-grid {
        display: block;
        width: 100%;
        padding: 0;
    }
    .walnut-banner {
        width: 100%;
        position: relative;
    }
    .walnut-banner .walnut-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .biscuit-gallery-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 20px 10px;
        height: auto;
        overflow: visible ;
    }

    .biscuit-gallery-grid img {
        .biscuit-gallery-grid img {
            width: 80%;
            height: 150px;
            display: block;
            margin: 0 auto;
        }
       
    }

    .biscuit-text-wrapper {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .biscuit-text-wrapper .order-btn {
        margin: 12px auto;
        position: static;
        left: 0;
    }
.main-footer {
    grid-template-columns: 1fr;
    padding: 30px 20px;
    text-align: left;
}

.footer-left,
.footer-center,
.footer-right {
    width: 100%;
    padding: 0 5px; 
}

.footer-social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 0px;
    padding-right: 40px;   
    align-items: flex-start; 

}
}
/*for tablets*/
@media only screen and (min-width: 401px) and (max-width: 599px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
    }
    .logo {
        font-size: 28px;
        margin: 0;
    }
    .left-links { 
        display: none; 
    }
    .right-links { 
        display: flex;
        gap: 20px;
    }
    .nav-icons {
        gap: 10px;
        padding-right: 0;
    }
    .hero-section {
        padding: 40px 20px;
    }
    .hero-section h2 {
        font-size: 38px;
        max-width: 350px;
    }
    .explore-btn {
        width: 180px;
        font-size: 18px;
        left: 0;
    }
    .cake-gallery-grid,
    .pastry-gallery-grid {
        grid-template-columns: 1fr 1fr; 
        gap: 15px; 
        padding: 30px 15px; 
        height: auto;
    }
    
    .cake-gallery-grid .product-card,
    .pastry-gallery-grid .product-card {
        flex-direction: column; 
        text-align: center;
        align-items: center;
    }

    .product-card img {
        width: 100%;
        max-width: 100px; 
        height: 100px;
        margin-right: 0;
        margin-bottom: 10px;
        display: block;
        object-fit: cover; 
    }
    .order-btn {
        left: 0;
        position: static;
        margin: 5px auto; 
        display: block;
        font-size: 14px; 
        padding: 8px 15px; 
        width: auto; 
        max-width: 150px;
    }
    .strawberry-hero-section .overlay-image {
        height: 1400px; 
    }
    .overlay-text {
        font-size: 32px;
    }
    .extra-content-grid {
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    .walnut-banner .walnut-image {
        height: 100%;
    }
    .walnut-text-overlay h1 {
        font-size: 48px;
    }
    .biscuit-gallery-grid {
        grid-template-columns: 1fr 1fr;
        padding: 30px 15px;
        gap: 15px;
    }
    .biscuit-gallery-grid .product-card {
        flex-direction: column; 
        text-align: center;
        align-items: center;
    }
    .biscuit-gallery-grid img {
        width: 100%;
        max-width: 100px; 
        height: 100px;
        margin-right: 0;
        margin-bottom: 10px;
        display: block;
    }
    .biscuit-text-wrapper {
        align-items: center; 
        text-align: center;
        width: 100%;
    }
    .biscuit-text-wrapper .biscuit-title {
         font-size: 18px; 
    }
     .biscuit-text-wrapper p {
        font-size: 16px; 
    }
    .biscuit-text-wrapper .order-btn {
        margin: 5px auto;
        font-size: 14px;
        padding: 8px 15px;
        position: static;
        width: auto;
        max-width: 150px;
    }
    .main-footer {
        grid-template-columns: 1fr;
        padding: 40px 30px;
    }
    .footer-social-icons {
        justify-content: flex-start;
    }
}
/*for small screens*/
@media only screen and (min-width: 600px) and (max-width: 799px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 15px 40px;
    }
    .logo {
        font-size: 30px;
    }
    .right-nav-content {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .right-links { 
        display: flex;
        gap: 20px;
    }
    .left-links {
        display: none;
    }
    .nav-icons {
        gap: 15px;
    }
    .main-content-grid {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        min-height: 50vh; 
    }
    .hero-section {
        padding: 40px 10px;
    }
    .hero-section h2 {
        font-size: 42px;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .cake-gallery-grid,
    .pastry-gallery-grid {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        height: auto; 
        padding-left: 0px;
        padding-top:0px;
        padding-right: 0px;
    }
    .product-card {
        padding: 10px;
    }
    .product-card img {
        width: 100%;
        height: 180px;
        max-width: none;
    }
    .order-btn {
        width: 180px;
        font-size: 16px;
        left: 0;
        position: static;
        margin: 10px auto;
        display: block;
    }
    .strawberry-hero-section .overlay-image {
        height: 1100px;
    }
    .overlay-text {
        font-size: 50px;
    }
    .extra-content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        min-height: 40vh;
    }
    .walnut-banner .walnut-image {
        height: 100%;
    }
    .walnut-text-overlay h1 {
        font-size: 50px;
    }
    .biscuit-gallery-grid {
        grid-template-columns: 1fr 1fr; 
        padding: 30px 20px;
        gap: 20px;
    }
    .biscuit-gallery-grid .product-card {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }
    .biscuit-gallery-grid img {
        width: 100%;
        max-width: 150px;
        height: 150px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .biscuit-text-wrapper {
        align-items: center;
        text-align: center;
    }
    .biscuit-text-wrapper .order-btn {
        margin: 10px auto;
        position: static;
    }
    .main-footer {
        grid-template-columns: 1fr 1fr; 
        padding: 50px 40px;
        gap: 30px;
    }
    .footer-logo-copyright {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 15px;
    }
    .copyright {
        margin-top: 0;
    }
    .footer-contact-info {
        padding-top: 0;
    }
    .footer-social-icons {
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 0;
    }
}
/*for large screens*/
@media only screen and (min-width: 1200px) {
    .navbar {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        column-gap: 50px;
        padding: 10px 80px; 
    }
    .left-links,
    .right-links {
        display: flex;
    }
    .logo {
        grid-column: 2;
    }
    .left-links {
        grid-column: 1;
        justify-content: flex-end;
    }
    .right-nav-content {
        grid-column: 3;
        justify-content: flex-start;
        gap: 30px;
    }
    .nav-icons {
        padding-right: 10px;
    }
    .hero-section {
        padding: 8vh 100px; 
    }
    .hero-section h2 {
        font-size: 60px; 
        max-width: 400px; 
    }
    .explore-btn {
        width: 200px;
        font-size: 20px;
        left: 5px;
    }
    .cake-gallery-grid,
    .pastry-gallery-grid {
        grid-template-columns: 1fr 1fr;
        padding: 20px 80px;
        height: 800px; 
    }
    .product-card img {
        width: 250px;
        height: 150px;
    }
    .order-btn {
        left: 40px;
        position: relative;
    }
    .extra-content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 40vh;
    }
    .walnut-banner .walnut-image {
        height: 100%;
    }
    .walnut-text-overlay h1 {
        font-size: 60px;
    }
    .biscuit-gallery-grid {
        grid-template-columns: 1fr 1fr;
        padding: 20px 80px;
    }
    .biscuit-gallery-grid .product-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .biscuit-gallery-grid img {
        width: 250px;
        height: 150px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .biscuit-text-wrapper {
        align-items: center;
        text-align: center;
    }
    .biscuit-text-wrapper .order-btn {
        margin: 10px auto;
        position: static;
        left: 0;
    }

    .main-footer {
        grid-template-columns: 2.5fr 1.5fr 1fr; 
        padding: 70px 100px; 
    }
    .footer-logo-copyright {
        grid-column: auto;
        flex-direction: column;
        border-bottom: none;
        padding-bottom: 0;
        justify-content: space-between;
        height: 100%; 
    }
    .copyright {
        margin-top: 50px; 
    }
    .footer-social-icons {
        justify-content: flex-end;
        align-items: flex-start;
        padding-top: 10px;
        padding-right: 0;
    }
}
